@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Six+Caps&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #040404;
    color: #f5f5f5;
    line-height: 1.6;
}
.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; }


#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem; 
}

#main-nav ul {
    display: flex; 
}
#main-nav li {
    padding: 1rem 1.5rem; 
}
#main-nav a {
    text-decoration: none;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; 
}
#main-nav a:hover {
    border-color: #ffc033; 
}
#main-nav a.current {
    border-color: #ffc033; 
}

.backhome{
    font-size: 25px;
    
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem; 
    text-align: center;
}

a {
    text-decoration: none;
    color: #f5f5f5; }
  
ul {
    list-style: none; }
  
  h2{
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;

  }
  


.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
   
}
  
.item {
    position: relative;
    background: #040404;
    overflow: hidden; 
}
.item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); 
}
.item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg); 
}
.item:hover .item-image {
    transform: scale(1.2); 
}
.item:hover .item-text {
    opacity: 1;
    transform: translateY(0); 
}
.item-image {
    height:auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); 
}
.item-image:before {
    content: '';
    display: block;
    padding-top: 90%;
    overflow: hidden; 
}
.item-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0; 
}
    .item-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #fff;
      transform: translateY(-20%);
      transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms; }
    .item-text-wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }
    .item-text-title {
      font-size: 2rem;
      padding: 0 1rem;
      margin: 5px 0 0 0; }
    .item-text-category {
      text-transform: uppercase;
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 0; }

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #040404;
    border: #040404 2px solid;
    border-radius: 5px;
}
    
.btn:hover {
    opacity: 0.9;
    border: #F5f5f5 2px solid;
    color: #040404;
    transition: all .3s ease-in-out;
}

.contthact{
    padding: 25px 0;
}
.project-contact{
    text-align: center;
    padding: 15px ;
    background-color: #ffc033;
}

.project-contact h2{
    font-size: 60px;
    color: #040404;
}

.project-contact p{
    font-size: 30px;
    padding-bottom: 25px;
    color: #040404;
}

.group-heading{
    text-align: left;
    padding: 20px;
    font-family: 'Six Caps';
    font-size: 70px;
}


.text-primary{
    color: #ffc033;
}

.container_footer {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; }
#main-footer {
    background: #040404;
    color: #fff;
    height: 5rem; 
}
#main-footer .footer-content {
      display: flex;
      justify-content: space-between;
      height: 5rem;
      align-items: center; 
    }
#main-footer .footer-content .social .fab {
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border: #ffc033 2px solid;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem; 
        color: #ffc033;
    }




.footer a:hover {
    color: #ffc033;
}

@media (max-width: 680px) {
   
    #header-home 
    {
        padding-top: 3rem; } 
    .cont{
        grid-template-columns: repeat(1,1fr);
        }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
            grid-column:span 1;
        }


    .projects{
            height:40vh;
            background-repeat: no-repeat;
        }
      
    
       .projects .heroh{
           font-size: 20px;
           font-family: 'Lato';
       }
    
    
}
      
@media (max-width: 540px) {
    #header-home  
    {
        font-size: 1.5em; } 
  
    
}

@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}